<%- include("./partials/header") %>
  
    <h1 class="text-center mb-5" style="width: 100;">Book Store Entry</h1>

    <form action="/create" method="post" style="background-color: rgb(166, 166, 166); margin: 30px; padding: 20px;;">

        <input type="text" placeholder="Book Name" name="name" class="p-1" style="width: 100%;">
        <br><br>
        <input type="text" placeholder="Author name" name="author" class="p-1" style="width: 100%;">
        <br><br>
        <input type="text" placeholder="Book Price" name="price" class="p-1" style="width: 100%;">
        <br><br>
        <input type="text" placeholder="category" name="category" class="p-1" style="width: 100%;">
        <br><br>
        <textarea placeholder="enter text here..." name="discribtion" id="" cols="30" rows="10" class="p-1" style="width: 100%;"></textarea>
        <br>
        <button>Add book</button>
    </form>

<%- include("./partials/footer") %>